<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="/OuterTools/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/OuterTools/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/OuterTools/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="/OuterTools/css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/OuterTools/css/style.css" rel="stylesheet">
    <link href="/OuterTools/css/style-responsive.css" rel="stylesheet" />

</head>

<body>

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo">ATCSHOP</a>
            <!--logo end-->

            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="bi bi-person">Giriş Yap</i>
                        </a>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="index.html">
                            <i class="icon-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-laptop"></i>
                            <span>Layouts</span>
                        </a>
                        <ul class="sub">
                            <li><a href="boxed_page.html">Boxed Page</a></li>
                            <li><a href="horizontal_menu.html">Horizontal Menu</a></li>
                            <li><a href="language_switch_bar.html">Language Switch Bar</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()

            </section>
        </section>
        <!--main content end-->

    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/OuterTools/js/jquery.js"></script>
    <script src="/OuterTools/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/OuterTools/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/OuterTools/js/jquery.scrollTo.min.js"></script>

    <!--common script for all pages-->
    <script src="/OuterTools/js/common-scripts.js"></script>

</body>
</html>
